<div class="row">
  <div class="panel large-5 columns">
    <b>INPUT</b>
      <hr/>
      <b>First:</b> <input ng-model='name.first' /><br/>
      <b>Last:</b> <input ng-model='name.last' /><br/>
      <b>Number:</b> <input ng-model='number' />
      <hr/>
  </div>
  <div class="large-1 columns">&nbsp;</div>
  <div class="panel large-6 columns">
    <div>
      <b>OUTPUT</b>
      <hr/>
      <b>First:</b> <span ng-bind="name.first"></span><br/>
      <b>Last:</b> <span ng-bind="name.last" ></span><br/>
      <b>Combined:</b> <span ng-bind="fullName()" ></span><br/>
    </div>
  </div>
</div>

<div class="row">
  <div class="" ng-repeat="n in boxes" >
    <div class="large-1 columns" style="background:{{getRandomColor(n)}}">&nbsp;</div>
  </div>
</div>  
  
  
  
  
  
  <!--
    <div class="row">
    <div class="panel large-12 columns">
  <b>JSON</b>
    <hr/>
    <pre ng-bind="name | json"></pre>
  </div>
  </div>
  -->

