       
<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <br/>
    <div class="nav-bar">
      <ul class="button-group">
        <li class="right">
          <a href="#" class="button small">Home</a>
          <a ui-sref="name" class="button small">Name</a>
          <a ui-sref="custom" class="button small">Custom</a>
          <a ui-sref="watch" class="button small">Watch This</a>
          <a ui-sref="promises" class="button small">Promises</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr/>
